---
---

<h3 text-2xl>⚡Skills</h3>
<img
  w-full
  src="https://skillicons.dev/icons?perline=14&i=bash,docker,git,github,go,html,idea,java,githubactions,js,linux,md,mysql,nginx,nodejs,ps,postman,py,pytorch,redis,stackoverflow,twitter,vscode,vue"
  alt=""
/>
